

<form name="reviewForm"
      ng-submit="reviewForm.$valid && addNewReview(product)"
        >

    <blockquote>
        <h4>{{review.stars}} <small>{{review.author}}</small></h4>
        <p>{{review.comment}}</p>
    </blockquote>

    <div class="form-group">
        <label>Stars</label>
        <select class="form-control"
                required
                ng-model="review.stars"
                ng-options="n for n in [1,2,3,4,5]">
        </select>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input required type="email" class="form-control" ng-model="review.author"/>
    </div>
        <div class="form-group">
        <label>Comment</label>
        <textarea required minlength="20" class="form-control" ng-model="review.comment"></textarea>
    </div>
    <button class="btn btn-primary">submit</button>
</form>