<html>
<head>
    <title>ng-shop</title>
    <link href="css/bootstrap.css" rel="stylesheet">

    <style>
    </style>

</head>

<body class="container">

    <div class="page-header"> NG- shop </div>

    <div ng-app="shop">

        <!--View  -->
        <div ng-controller="ShopController as sc" class="list-group">
         <div class="well" ng-if="message">{{message}}</div>
           <div ng-hide="product.notAvailable"
                ng-repeat="product in products | limitTo:10 | orderBy:'price':true"
                class="list-group-item">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <img ng-src="{{product.images[0].full}}" width="100" class="img-responsive"/>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <product-title></product-title>
                        <hr/>
                        <product-tabs></product-tabs>
                    </div>
                </div>

           </div>

        </div>


    </div>


    <script src="angular-1.5.8/angular.js"></script>
    <script src="js/shop.service.js"></script>
    <script src="js/shop.js"></script>

</body>

</html>