<div class="col-sm-6">

	<form name="productForm" ng-submit="save()">
	
		<div class="form-group">
			<label>Name:</label>
			<input class="form-control" ng-model="product.name">
		</div>
		<div class="form-group">
			<label>Price:</label>
			<input class="form-control" ng-model="product.price">
		</div>
		<div class="form-group">
			<label>Description:</label>
			<textarea class="form-control" ng-model="product.desc"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">save</button>
	</form>	
	<ui-view></ui-view>
</div>