<html>
<head>
    <title>ng-shop</title>
    <link href="css/bootstrap.css" rel="stylesheet">

</head>

<body class="container">

    <div class="page-header"> NG-data-binding.html </div>

    <div ng-app="demo">
        
        <div class="well" ng-controller="UserController">
            <select ng-options="n for n in [5,10,15,20]" ng-model="userCount"></select>
            <input ng-model="userCount"/>
            <table class="table table-bordered table-condensed table-stripped">
                <tr ng-repeat="user in users">
                    <td>{{user.fname}}</td>
                    <td>{{user.lname}}</td>
                </tr>    
            </table>    
        </div>    
    
    </div> 
    
       

    <script src="angular-1.5.8/angular.js"></script>
    <script>
        var mod=angular.module('demo',[]);
       
        mod.controller('UserController',function($scope,$http){
             
             $scope.userCount=5;

             $scope.$watch('userCount',function(newCount){
                 loadUsers(newCount);
             });
             
             function loadUsers(count){
                $http.jsonp(`http://www.filltext.com/?callback=JSON_CALLBACK&rows=${count}&fname={firstName}&lname={lastName}`)
                .success(function (data) {
                        $scope.users = data
                });
             }

        });
    </script>

</body>

</html>    